In [2]:
pip install faker pandas numpy

Collecting faker
  Using cached Faker-30.1.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: pandas in /workspace/.pyenv_mirror/user/current/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy in /workspace/.pyenv_mirror/user/current/lib/python3.12/site-packages (2.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /home/gitpod/.pyenv/versions/3.12.6/lib/python3.12/site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: typing-extensions in /home/gitpod/.pyenv/versions/3.12.6/lib/python3.12/site-packages (from faker) (4.12.2)
Requirement already satisfied: pytz>=2020.1 in /workspace/.pyenv_mirror/user/current/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /workspace/.pyenv_mirror/user/current/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.12.6/lib/python3.12/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Using cached Faker-30.1.0-py3-none-any.whl (1.8 MB)
Installing collected packages: faker
Successfully installed faker-30.1.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import random
import pandas as pd
from faker import Faker
import numpy as np

# Initialize Faker
fake = Faker()
Faker.seed(42)
np.random.seed(42)

# Parameters for the dataset
NUM_STUDENTS = 1000
NUM_SUBJECTS = 5

# Example subjects and extra-curricular activities
subjects = ['Mathematics', 'Science', 'English', 'Social Studies', 'Physical Education']
activities = ['Football', 'Drama', 'Music', 'Art', 'Debate','Science','Chess','None']
nigeria_states = [
    "Abia", "Adamawa", "Akwa Ibom", "Anambra", "Bauchi", "Bayelsa", "Benue",
    "Borno", "Cross River", "Delta", "Ebonyi", "Edo", "Ekiti", "Enugu", "Gombe",
    "Imo", "Jigawa", "Kaduna", "Kano", "Katsina", "Kebbi", "Kogi", "Kwara",
    "Lagos", "Nasarawa", "Niger", "Ogun", "Ondo", "Osun", "Oyo", "Plateau",
    "Rivers", "Sokoto", "Taraba", "Yobe", "Zamfara", "FCT"
]

# Helper functions
def generate_student_bio_data():
    return {
        'Student ID': fake.unique.uuid4(),
        'First Name': fake.first_name(),
        'Last Name': fake.last_name(),
        'Gender': random.choice(['Male', 'Female']),
        'Age': random.randint(5, 18),
        'State': random.choice(nigeria_states),
        'City': fake.city(),
        'School': fake.company_suffix(),
        'Enrollment Date': fake.date_this_decade(),
        'Grade Level': random.randint(1, 12)
    }

def generate_parents_demographic_data():
    return {
        'Parent Name': fake.name(),
        'Parent Occupation': fake.job(),
        'Household Income (NGN)': random.randint(100000, 20000000),
        'Parent Education Level': random.choice(['Primary', 'Secondary', 'Tertiary', 'None']),
        'Household Size': random.randint(3, 10)
    }

def generate_resource_allocation_data():
    return {
        'Library Hours per Week': random.randint(2, 10),
        'Teacher-Student Ratio': round(random.uniform(1/30, 1/10), 2),  # Teacher per student ratio
        'Allocated Teacher Hours': random.randint(15, 40)
    }

def generate_extra_curricular_data():
    return {
        'Extra-Curricular Activity': random.choice(activities),
        'Weekly Hours in Activity': random.randint(1, 5)
    }

def generate_historical_performance_data():
    return {
        subject: round(random.uniform(40, 100), 0) for subject in subjects
    }

# Generate the dataset
data = []
for _ in range(NUM_STUDENTS):
    student_data = generate_student_bio_data()
    parent_data = generate_parents_demographic_data()
    resource_data = generate_resource_allocation_data()
    extra_curricular_data = generate_extra_curricular_data()
    performance_data = generate_historical_performance_data()
    
    # Combine all the generated data into a single record
    combined_data = {**student_data, **parent_data, **resource_data, **extra_curricular_data, **performance_data}
    
    data.append(combined_data)

# Create a DataFrame from the generated data
df = pd.DataFrame(data)

# Display the first few rows of the dataset
df.to_csv('fake.csv')

In [2]:
pip install faker

Collecting faker
  Using cached Faker-30.1.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /home/gitpod/.pyenv/versions/3.12.6/lib/python3.12/site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: typing-extensions in /home/gitpod/.pyenv/versions/3.12.6/lib/python3.12/site-packages (from faker) (4.12.2)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.12.6/lib/python3.12/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Using cached Faker-30.1.0-py3-none-any.whl (1.8 MB)
Installing collected packages: faker
Successfully installed faker-30.1.0
Note: you may need to restart the kernel to use updated packages.

# MACH 2 of our Synthetic data with data model

In [4]:
import random
import pandas as pd
from faker import Faker

# Initialize Faker
fake = Faker()

# Define regions, school types, parents' education, and extracurricular activities
regions = ['North Central', 'North East', 'North West', 'South East', 'South South', 'South West']
school_types = ['Public', 'Private']
education_levels = ['None', 'Primary', 'Secondary', 'Tertiary']
occupations = ['Farmer', 'Trader', 'Teacher', 'Civil Servant', 'Engineer', 'Unemployed']
extracurricular_activities = ['Sports', 'Music', 'Drama', 'Debate', 'Chess']
subjects = ['Mathematics', 'Science', 'English', 'Social Studies', 'Physical Education']

# Number of students to generate
NUM_STUDENTS = 1000

# Generate synthetic student data
def generate_student_data(num_students):
    data = []
    
    for _ in range(num_students):
        # Generate student bio-data
        student_id = fake.unique.uuid4()
        name = fake.name()
        gender = random.choice(['Male', 'Female'])
        age = random.randint(15, 19)  # Typical age for secondary school students
        region = random.choice(regions)
        school_type = random.choice(school_types)
        
        # Generate parents' demographic data
        father_education = random.choice(education_levels)
        mother_education = random.choice(education_levels)
        father_occupation = random.choice(occupations)
        mother_occupation = random.choice(occupations)
        household_income = random.randint(20000, 500000)  # Household income in Naira
        household_size = random.randint(3, 10)  # Number of people in household
        
        # Generate resource allocation (library and teacher hours)
        library_hours_per_week = random.randint(1, 10)  # Hours student spends in the library per week
        teacher_hours_per_week = random.randint(5, 30)  # Hours teacher spends with student per week
        
        # Generate extracurricular activity
        extracurricular = random.choice(extracurricular_activities)
        weekly_hours_in_activity = random.randint(0, 10) if extracurricular != 'None' else 0  # Hours spent on extracurricular activities
        
        # Generate historical performance (subject scores)
        subject_scores = {subject: random.randint(40, 100) for subject in subjects}  # Scores between 40-100
        
        # Append all data
        data.append({
            'Student ID': student_id,
            'Name': name,
            'Gender': gender,
            'Age': age,
            'Region': region,
            'School Type': school_type,
            'Father Education': father_education,
            'Mother Education': mother_education,
            'Father Occupation': father_occupation,
            'Mother Occupation': mother_occupation,
            'Household Income': household_income,
            'Household Size': household_size,
            'Library Hours/Week': library_hours_per_week,
            'Teacher Hours/Week': teacher_hours_per_week,
            'Extracurricular Activity': extracurricular,
            'Weekly Hours in Activity': weekly_hours_in_activity,
            'Mathematics': subject_scores['Mathematics'],
            'Science': subject_scores['Science'],
            'English': subject_scores['English'],
            'Social Studies': subject_scores['Social Studies'],
            'Physical Education': subject_scores['Physical Education']
        })
    
    return pd.DataFrame(data)

# Generate synthetic student data
synthetic_student_data = generate_student_data(NUM_STUDENTS)

# Display the first few rows of the generated data
synthetic_student_data.head()

,Student ID,Name,Gender,Age,Region,School Type,Father Education,Mother Education,Father Occupation,Mother Occupation,...,Household Size,Library Hours/Week,Teacher Hours/Week,Extracurricular Activity,Weekly Hours in Activity,Mathematics,Science,English,Social Studies,Physical Education
0,22529d69-61a7-405b-b879-e441ed50187c,Dawn Ramsey,Female,16,North West,Private,Tertiary,None,Unemployed,Unemployed,...,6,10,29,None,0,86,73,43,95,63
1,6d05bad9-cf41-4a57-9240-b4b0a45c20d3,Michael Reese,Female,16,South East,Public,Tertiary,None,Engineer,Engineer,...,10,3,28,Drama,9,63,74,91,53,46
2,72e242ea-8a63-4002-8e05-33119b8a2ed2,Jennifer Adams DDS,Male,15,South South,Private,Secondary,Secondary,Engineer,Teacher,...,6,10,25,None,0,83,62,63,52,76
3,1b19cec9-54fa-41f5-bb85-65619d1b3fd3,Robert Porter,Male,17,North Central,Private,Primary,None,Trader,Engineer,...,5,2,10,Drama,4,49,77,43,70,93
4,0a1b4c97-f965-44f4-8029-84e9278f08f8,Thomas Fernandez,Male,17,South West,Public,None,None,Civil Servant,Unemployed,...,7,5,5,None,0,47,66,81,90,100

In [ ]:

%sql
-- Create dim_student table
CREATE TABLE dim_student (
    Student_ID VARCHAR PRIMARY KEY,
    Name VARCHAR,
    Gender VARCHAR,
    Age INT,
    Region VARCHAR,
    School_Type VARCHAR
);

-- Create dim_parent_demographics table
CREATE TABLE dim_parent_demographics (
    Student_ID VARCHAR PRIMARY KEY,
    Father_Education VARCHAR,
    Mother_Education VARCHAR,
    Father_Occupation VARCHAR,
    Mother_Occupation VARCHAR,
    Household_Income INT,
    Household_Size INT,
    FOREIGN KEY (Student_ID) REFERENCES dim_student(Student_ID)
);

-- Create dim_extracurricular_activity table
CREATE TABLE dim_extracurricular_activity (
    Student_ID VARCHAR PRIMARY KEY,
    Extracurricular_Activity VARCHAR,
    FOREIGN KEY (Student_ID) REFERENCES dim_student(Student_ID)
);

-- Create fact_student_performance table
CREATE TABLE fact_student_performance (
    Student_ID VARCHAR,
    Math_Score INT,
    Science_Score INT,
    English_Score INT,
    Social_Studies_Score INT,
    Physical_Education_Score INT,
    Library_Hours_Week INT,
    Teacher_Hours_Week INT,
    Weekly_Activity_Hours INT,
    FOREIGN KEY (Student_ID) REFERENCES dim_student(Student_ID)
);

# MACH 3 of our Synthetic data with data model

In [4]:
import random
import pandas as pd
from faker import Faker
import numpy as np

# Initialize Faker
fake = Faker()
Faker.seed(42)
np.random.seed(42)

# Define constants
regions = ['North Central', 'North East', 'North West', 'South East', 'South South', 'South West']
school_types = ['Public', 'Private']
education_levels = ['None', 'Primary', 'Secondary', 'Tertiary']
occupations = ['Farmer', 'Trader', 'Teacher', 'Civil Servant', 'Engineer', 'Unemployed', 'Doctor', 'Nurse']
extracurricular_activities = ['Sports', 'Music', 'Drama', 'Debate Club', 'Art', 'None']
subjects = ['Mathematics', 'Science', 'English', 'Social Studies', 'Physical Education']

# Number of records
NUM_STUDENTS = 1000
NUM_SCHOOLS = 50
NUM_TEACHERS = 300
NUM_EVENTS = 100
NUM_TIME = 36  # 3 years, 12 months each

# Generate Dim Time
def generate_dim_time():
    data = []
    time_id = 1
    for year in [2019, 2020, 2021]:
        for month in range(1, 13):
            day = 1  # Simplification: use first day of the month
            quarter = f"Q{((month-1)//3)+1}"
            data.append({
                'Time_ID': time_id,
                'Year': year,
                'Month': fake.month_name(),
                'Day': day,
                'Quarter': quarter
            })
            time_id += 1
    return pd.DataFrame(data)

dim_time = generate_dim_time()

# Generate Dim School
def generate_dim_school(num_schools):
    data = []
    for _ in range(num_schools):
        school_id = fake.unique.uuid4()
        school_name = fake.company() + " School"
        location = fake.address().replace('\n', ', ')
        established_year = random.randint(1980, 2020)
        number_of_teachers = random.randint(20, 100)
        number_of_students = random.randint(200, 2000)
        data.append({
            'School_ID': school_id,
            'School_Name': school_name,
            'Location': location,
            'Established_Year': established_year,
            'Number_of_Teachers': number_of_teachers,
            'Number_of_Students': number_of_students
        })
    return pd.DataFrame(data)

dim_school = generate_dim_school(NUM_SCHOOLS)

# Generate Dim Teacher
def generate_dim_teacher(num_teachers, dim_school):
    data = []
    for _ in range(num_teachers):
        teacher_id = fake.unique.uuid4()
        name = fake.name()
        gender = random.choice(['Male', 'Female'])
        qualification = random.choice(['Bachelor', 'Master', 'PhD', 'Diploma'])
        subject_specialization = random.choice(subjects)
        years_of_experience = random.randint(1, 40)
        school_id = random.choice(dim_school['School_ID'].tolist())
        data.append({
            'Teacher_ID': teacher_id,
            'Name': name,
            'Gender': gender,
            'Qualification': qualification,
            'Subject_Specialization': subject_specialization,
            'Years_of_Experience': years_of_experience,
            'School_ID': school_id
        })
    return pd.DataFrame(data)

dim_teacher = generate_dim_teacher(NUM_TEACHERS, dim_school)

# Generate Dim Event
def generate_dim_event(num_events, dim_school):
    data = []
    for _ in range(num_events):
        event_id = fake.unique.uuid4()
        event_name = random.choice(['Sports Day', 'Annual Meeting', 'Science Fair', 'Art Exhibition', 'Debate Competition'])
        event_type = random.choice(['Academic', 'Sports', 'Cultural'])
        date = fake.date_between(start_date='-3y', end_date='today')
        school_id = random.choice(dim_school['School_ID'].tolist())
        data.append({
            'Event_ID': event_id,
            'Event_Name': event_name,
            'Event_Type': event_type,
            'Date': date,
            'School_ID': school_id
        })
    return pd.DataFrame(data)

dim_event = generate_dim_event(NUM_EVENTS, dim_school)

# Generate Dim Student
def generate_dim_student(num_students, dim_school):
    data = []
    for _ in range(num_students):
        student_id = fake.unique.uuid4()
        name = fake.name()
        gender = random.choice(['Male', 'Female'])
        age = random.randint(15, 19)  # Typical age for secondary school students
        region = random.choice(regions)
        school_type = random.choice(school_types)
        household_size = random.randint(2, 10)
        school_id = random.choice(dim_school['School_ID'].tolist())
        data.append({
            'Student_ID': student_id,
            'Name': name,
            'Gender': gender,
            'Age': age,
            'Region': region,
            'School_Type': school_type,
            'Household_Size': household_size,
            'School_ID': school_id
        })
    return pd.DataFrame(data)

dim_student = generate_dim_student(NUM_STUDENTS, dim_school)

# Generate Dim Parent Demographics
def generate_dim_parent_demographics(dim_student):
    data = []
    for _, student in dim_student.iterrows():
        father_education = random.choice(education_levels)
        mother_education = random.choice(education_levels)
        father_occupation = random.choice(occupations)
        mother_occupation = random.choice(occupations)
        household_income = random.randint(20000, 500000)  # Household income in Naira
        data.append({
            'Student_ID': student['Student_ID'],
            'Father_Education': father_education,
            'Mother_Education': mother_education,
            'Father_Occupation': father_occupation,
            'Mother_Occupation': mother_occupation,
            'Household_Income': household_income
        })
    return pd.DataFrame(data)

dim_parent_demographics = generate_dim_parent_demographics(dim_student)

# Generate Dim Extracurricular Activity
def generate_dim_extracurricular_activity(dim_student):
    data = []
    for _, student in dim_student.iterrows():
        extracurricular = random.choice(extracurricular_activities)
        weekly_hours_in_activity = random.randint(0, 10) if extracurricular != 'None' else 0
        data.append({
            'Student_ID': student['Student_ID'],
            'Extracurricular_Activity': extracurricular,
            'Weekly_Hours': weekly_hours_in_activity
        })
    return pd.DataFrame(data)

dim_extracurricular_activity = generate_dim_extracurricular_activity(dim_student)

# Generate Fact Student Performance
def generate_fact_student_performance(dim_student, dim_time):
    data = []
    for _, student in dim_student.iterrows():
        # Each student can have multiple performance records (one per exam year)
        for year in [2019, 2020, 2021]:
            time_id = dim_time[(dim_time['Year'] == year) & (dim_time['Month'] == 'June')]['Time_ID'].values
            if len(time_id) == 0:
                continue  # Skip if no matching Time_ID
            time_id = time_id[0]
            math_score = random.randint(40, 100)
            science_score = random.randint(40, 100)
            english_score = random.randint(40, 100)
            social_studies_score = random.randint(40, 100)
            physical_education_score = random.randint(40, 100)
            library_hours_week = random.randint(1, 10)
            teacher_hours_week = random.randint(5, 30)
            extracurricular_hours = dim_extracurricular_activity[
                dim_extracurricular_activity['Student_ID'] == student['Student_ID']
            ]['Weekly_Hours'].values[0]
            data.append({
                'Student_ID': student['Student_ID'],
                'Time_ID': time_id,
                'Math_Score': math_score,
                'Science_Score': science_score,
                'English_Score': english_score,
                'Social_Studies_Score': social_studies_score,
                'Physical_Education_Score': physical_education_score,
                'Library_Hours_Week': library_hours_week,
                'Teacher_Hours_Week': teacher_hours_week,
                'Weekly_Activity_Hours': extracurricular_hours
            })
    return pd.DataFrame(data)

fact_student_performance = generate_fact_student_performance(dim_student, dim_time)

# Generate Fact School Operations
def generate_fact_school_operations(dim_school, dim_time):
    data = []
    for _, school in dim_school.iterrows():
        # Each school can have monthly operational records
        for _, time in dim_time.iterrows():
            budget = random.randint(500000, 5000000)  # Annual budget in Naira
            spending_on_library = random.randint(100000, 1000000)
            spending_on_teachers = random.randint(200000, 2000000)
            number_of_classrooms = random.randint(10, 50)
            library_books = random.randint(500, 10000)
            health_staff = random.randint(1, 10)
            data.append({
                'School_ID': school['School_ID'],
                'Time_ID': time['Time_ID'],
                'Budget': budget,
                'Spending_On_Library': spending_on_library,
                'Spending_On_Teachers': spending_on_teachers,
                'Number_of_Classrooms': number_of_classrooms,
                'Library_Books': library_books,
                'Health_Staff': health_staff
            })
    return pd.DataFrame(data)

fact_school_operations = generate_fact_school_operations(dim_school, dim_time)

# Generate Fact Attendance
def generate_fact_attendance(dim_student, dim_time):
    data = []
    for _, student in dim_student.iterrows():
        for _, time in dim_time.iterrows():
            days_attended = random.randint(0, 30)
            days_missed = 30 - days_attended
            absence_reason = random.choice(['Illness', 'Family Event', 'None', 'Other'])
            data.append({
                'Student_ID': student['Student_ID'],
                'Time_ID': time['Time_ID'],
                'Days_Attended': days_attended,
                'Days_Missed': days_missed,
                'Absence_Reason': absence_reason
            })
    return pd.DataFrame(data)

fact_attendance = generate_fact_attendance(dim_student, dim_time)

# Generate Dim Event is already done above

# Consolidate all DataFrames (Optional: Save to CSV or database)
# For demonstration, we'll just print the first few rows of each table

print("Dim Time:")
print(dim_time.head())

print("\nDim School:")
print(dim_school.head())

print("\nDim Teacher:")
print(dim_teacher.head())

print("\nDim Event:")
print(dim_event.head())

print("\nDim Student:")
print(dim_student.head())

print("\nDim Parent Demographics:")
print(dim_parent_demographics.head())

print("\nDim Extracurricular Activity:")
print(dim_extracurricular_activity.head())

print("\nFact Student Performance:")
print(fact_student_performance.head())

print("\nFact School Operations:")
print(fact_school_operations.head())

print("\nFact Attendance:")
print(fact_attendance.head())

# Save all tables to CSV files
dim_time.to_csv('dim_time.csv', index=False)
dim_school.to_csv('dim_school.csv', index=False)
dim_teacher.to_csv('dim_teacher.csv', index=False)
dim_event.to_csv('dim_event.csv', index=False)
dim_student.to_csv('dim_student.csv', index=False)
dim_parent_demographics.to_csv('dim_parent_demographics.csv', index=False)
dim_extracurricular_activity.to_csv('dim_extracurricular_activity.csv', index=False)
fact_student_performance.to_csv('fact_student_performance.csv', index=False)
fact_school_operations.to_csv('fact_school_operations.csv', index=False)
fact_attendance.to_csv('fact_attendance.csv', index=False)

Dim Time:
   Time_ID  Year    Month  Day Quarter
0        1  2019  January    1      Q1
1        2  2019      May    1      Q1
2        3  2019  January    1      Q1
3        4  2019    March    1      Q2
4        5  2019    April    1      Q2

Dim School:
                              School_ID                      School_Name  \
0  e2acf72f-9e57-4f7a-a0ee-89aed453dd32                  Ray-Bush School
1  aefcfad8-efc8-4849-b3aa-7efe4458a885  Jones, Reid and Ferguson School
2  e27a984d-6548-41d0-bfcd-9eb1a7cad415   Ellis, Baker and Wright School
3  61b1cd22-6280-4c45-9043-5a1098ae4334  Ferrell, Rice and Maddox School
4  c30ff46e-8026-495f-b8cd-a88b436d76e2                Romero Inc School

                                            Location  Established_Year  \
0       1316 Chavez Village, Franciscostad, IL 88342              1990
1  4835 Jeremy Bypass Suite 641, New Nancy, MD 28370              2011
2       969 Cox Dam Suite 101, Lake Ernest, TX 55834              1980
3          184 Rodriguez Mews, South Aaron, VA 94830              2000
4  893 Nathaniel Estates Apt. 957, North Sarahpor...              2009

   Number_of_Teachers  Number_of_Students
0                  77                1280
1                  91                1436
2                  24                1212
3                  59                1915
4                  26                1856

Dim Teacher:
                             Teacher_ID            Name  Gender Qualification  \
0  f23e323d-0b9b-4934-a3c8-6d301dde7969  Zachary Wilson    Male      Bachelor
1  22bae10e-899c-4782-a323-6d1a3c1bdacc     Jacob Avery  Female       Diploma
2  6b4be411-8a4a-4e2d-b22b-5b98b24cc64f   Molly Mcclure    Male       Diploma
3  7d45d8ef-d56c-48ea-9959-7b5aa7a8f636  Teresa Ramirez  Female        Master
4  71818dcf-379e-4c6e-9edb-0d3cb0b63bcf       David Cox    Male      Bachelor

  Subject_Specialization  Years_of_Experience  \
0         Social Studies                   36
1         Social Studies                   38
2            Mathematics                   24
3         Social Studies                   13
4            Mathematics                   34

                              School_ID
0  6694c343-10ba-48e3-9276-2bdc1d34d08e
1  cdfc6ee0-e61e-4e90-8267-deb3aab612c9
2  6e068097-25e9-4977-8d72-48e2951f58d0
3  8a476a87-e49d-481d-91d8-7c6455fa1ab8
4  6efb63b1-1b04-4863-bd7d-dbedd284476c

Dim Event:
                               Event_ID          Event_Name Event_Type  \
0  ade68f51-e670-43a0-bc48-f61583b0b35c        Science Fair     Sports
1  c9230c64-c006-4b5b-b678-39b222b5f457      Art Exhibition   Cultural
2  ddf6d4ac-46fe-4cd4-be13-93cd0f2d5c15  Debate Competition   Cultural
3  3fead90a-21f8-472d-9db7-570eb390b059        Science Fair   Academic
4  c2efeecb-3f5f-4f4f-9417-62305274ee11          Sports Day     Sports

         Date                             School_ID
0  2024-03-14  3c19e71d-1184-45ad-9e11-d2cd0930aef6
1  2022-12-28  23e2fcb4-72d8-467d-894a-05e430b187ef
2  2023-09-21  f26b4776-913e-4de2-a0c5-3cb83da9c2a9
3  2022-03-12  cdfc6ee0-e61e-4e90-8267-deb3aab612c9
4  2024-04-14  aefcfad8-efc8-4849-b3aa-7efe4458a885

Dim Student:
                             Student_ID             Name  Gender  Age  \
0  459ee674-73e7-4042-916c-3b0a53853918      Tony Taylor    Male   16
1  27c8fc6c-1be5-44c3-95af-6d0cc5285425    Jerry Edwards  Female   17
2  f6f24d1c-5bb8-49c8-8932-59f31ee89a4c        Jodi Ford    Male   16
3  28597b34-1725-42c7-9eb2-a7b8da3c45ca   Elizabeth Bush    Male   15
4  d5ff2a1f-370b-4a29-8a53-0df99a72083c  Brittany Dawson  Female   15

          Region School_Type  Household_Size  \
0     South West      Public               8
1     North East     Private               7
2     South East     Private               4
3     South West     Private               6
4  North Central      Public               6

                              School_ID
0  8b10550c-d570-4f32-b02c-dd20286218b8
1  48603b32-b4fb-4eb9-89c1-3de73b4206c5
2  82ec9f2d-fbf6-416f-9b30-80d56fb78271
3  cdfc6ee0-e61e-4e90-8267-deb3aab612c9
4  21df306f-8a0b-4c33-b6d8-393a7c441fe7

Dim Parent Demographics:
                             Student_ID Father_Education Mother_Education  \
0  459ee674-73e7-4042-916c-3b0a53853918        Secondary          Primary
1  27c8fc6c-1be5-44c3-95af-6d0cc5285425         Tertiary        Secondary
2  f6f24d1c-5bb8-49c8-8932-59f31ee89a4c        Secondary         Tertiary
3  28597b34-1725-42c7-9eb2-a7b8da3c45ca          Primary        Secondary
4  d5ff2a1f-370b-4a29-8a53-0df99a72083c         Tertiary             None

  Father_Occupation Mother_Occupation  Household_Income
0            Trader     Civil Servant            435328
1           Teacher            Farmer            239803
2           Teacher            Doctor            175144
3        Unemployed        Unemployed            217053
4            Doctor     Civil Servant             38862

Dim Extracurricular Activity:
                             Student_ID Extracurricular_Activity  Weekly_Hours
0  459ee674-73e7-4042-916c-3b0a53853918              Debate Club             7
1  27c8fc6c-1be5-44c3-95af-6d0cc5285425              Debate Club            10
2  f6f24d1c-5bb8-49c8-8932-59f31ee89a4c                    Drama             3
3  28597b34-1725-42c7-9eb2-a7b8da3c45ca                     None             0
4  d5ff2a1f-370b-4a29-8a53-0df99a72083c                    Drama             3

Fact Student Performance:
                             Student_ID  Time_ID  Math_Score  Science_Score  \
0  459ee674-73e7-4042-916c-3b0a53853918       13          54            100
1  459ee674-73e7-4042-916c-3b0a53853918       26          57             42
2  27c8fc6c-1be5-44c3-95af-6d0cc5285425       13          98             73
3  27c8fc6c-1be5-44c3-95af-6d0cc5285425       26          74             42
4  f6f24d1c-5bb8-49c8-8932-59f31ee89a4c       13          72             52

   English_Score  Social_Studies_Score  Physical_Education_Score  \
0             79                    80                        53
1             61                    90                        45
2             50                    50                        80
3             65                    83                        51
4             54                    85                        73

   Library_Hours_Week  Teacher_Hours_Week  Weekly_Activity_Hours
0                   2                  14                      7
1                   6                  20                      7
2                   4                  29                     10
3                   5                  16                     10
4                   9                   7                      3

Fact School Operations:
                              School_ID  Time_ID   Budget  \
0  e2acf72f-9e57-4f7a-a0ee-89aed453dd32        1   687773
1  e2acf72f-9e57-4f7a-a0ee-89aed453dd32        2  2466919
2  e2acf72f-9e57-4f7a-a0ee-89aed453dd32        3  4666317
3  e2acf72f-9e57-4f7a-a0ee-89aed453dd32        4  1600100
4  e2acf72f-9e57-4f7a-a0ee-89aed453dd32        5  3311824

   Spending_On_Library  Spending_On_Teachers  Number_of_Classrooms  \
0               290358               1922179                    39
1               983070                908054                    26
2               526580               1542082                    25
3               250170               1959974                    17
4               713730               1534292                    20

   Library_Books  Health_Staff
0           6326            10
1            723             5
2           7105             3
3           9303             8
4           6664             1

Fact Attendance:
                             Student_ID  Time_ID  Days_Attended  Days_Missed  \
0  459ee674-73e7-4042-916c-3b0a53853918        1             12           18
1  459ee674-73e7-4042-916c-3b0a53853918        2             26            4
2  459ee674-73e7-4042-916c-3b0a53853918        3             24            6
3  459ee674-73e7-4042-916c-3b0a53853918        4              2           28
4  459ee674-73e7-4042-916c-3b0a53853918        5             10           20

  Absence_Reason
0           None
1           None
2          Other
3           None
4        Illness

In [ ]:
CREATE TABLE Students (
    student_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    date_of_birth DATE,
    gender VARCHAR(10),
    address VARCHAR(255),
    phone_number VARCHAR(20),
    email VARCHAR(100),
    admission_date DATE,
    class_id INT,
    guardian_name VARCHAR(100),
    guardian_phone_number VARCHAR(20),
    emergency_contact VARCHAR(100),
    student_status VARCHAR(50), -- active, graduated, transferred
    FOREIGN KEY (class_id) REFERENCES Classes(class_id)
);

CREATE TABLE Staff (
    staff_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE,
    role VARCHAR(50), -- teacher, administrator, support staff, etc.
    department_id INT,
    salary DECIMAL(10, 2),
    email VARCHAR(100),
    phone_number VARCHAR(20),
    address VARCHAR(255),
    status VARCHAR(20), -- active, retired, on_leave
    FOREIGN KEY (department_id) REFERENCES Departments(department_id)
);

CREATE TABLE Departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(100),
    head_of_department_id INT,
    budget DECIMAL(12, 2),
    FOREIGN KEY (head_of_department_id) REFERENCES Staff(staff_id)
);

CREATE TABLE Classes (
    class_id INT PRIMARY KEY,
    class_name VARCHAR(50),
    class_level INT,
    homeroom_teacher_id INT,
    FOREIGN KEY (homeroom_teacher_id) REFERENCES Staff(staff_id)
);


CREATE TABLE Subjects (
    subject_id INT PRIMARY KEY,
    subject_name VARCHAR(100),
    course_code VARCHAR(20),
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES Departments(department_id)
);


CREATE TABLE Exams (
    exam_id INT PRIMARY KEY,
    exam_name VARCHAR(100),
    subject_id INT,
    exam_date DATE,
    total_marks DECIMAL(5, 2),
    passing_marks DECIMAL(5, 2),
    exam_type VARCHAR(50), -- final, midterm, quiz, etc.
    FOREIGN KEY (subject_id) REFERENCES Subjects(subject_id)
);


CREATE TABLE ExamResults (
    result_id INT PRIMARY KEY,
    student_id INT,
    exam_id INT,
    marks_obtained DECIMAL(5, 2),
    grade VARCHAR(10),
    FOREIGN KEY (student_id) REFERENCES Students(student_id),
    FOREIGN KEY (exam_id) REFERENCES Exams(exam_id)
);


CREATE TABLE Courses (
    course_id INT PRIMARY KEY,
    course_name VARCHAR(100),
    course_description TEXT,
    course_start_date DATE,
    course_end_date DATE,
    instructor_id INT,
    class_id INT,
    FOREIGN KEY (instructor_id) REFERENCES Staff(staff_id),
    FOREIGN KEY (class_id) REFERENCES Classes(class_id)
);


CREATE TABLE Enrollments (
    enrollment_id INT PRIMARY KEY,
    student_id INT,
    course_id INT,
    enrollment_date DATE,
    FOREIGN KEY (student_id) REFERENCES Students(student_id),
    FOREIGN KEY (course_id) REFERENCES Courses(course_id)
);


CREATE TABLE Classrooms (
    classroom_id INT PRIMARY KEY,
    room_number VARCHAR(20),
    building_name VARCHAR(100),
    capacity INT
);


CREATE TABLE Timetable (
    timetable_id INT PRIMARY KEY,
    course_id INT,
    classroom_id INT,
    day_of_week VARCHAR(20), -- e.g., Monday, Tuesday
    start_time TIME,
    end_time TIME,
    FOREIGN KEY (course_id) REFERENCES Courses(course_id),
    FOREIGN KEY (classroom_id) REFERENCES Classrooms(classroom_id)
);


CREATE TABLE Attendance (
    attendance_id INT PRIMARY KEY,
    student_id INT,
    course_id INT,
    attendance_date DATE,
    status VARCHAR(10), -- Present, Absent, Late
    FOREIGN KEY (student_id) REFERENCES Students(student_id),
    FOREIGN KEY (course_id) REFERENCES Courses(course_id)
);

In [3]:
import pandas as pd
from faker import Faker
import random
import numpy as np

# Initialize the Faker library
fake = Faker()

# Set a random seed for reproducibility
Faker.seed(0)
random.seed(0)

# Function to create synthetic data for each CSV
def create_students(num_students):
    students = []
    for _ in range(num_students):
        students.append({
            "student_id": _ + 1,
            "first_name": fake.first_name(),
            "last_name": fake.last_name(),
            "date_of_birth": fake.date_of_birth(minimum_age=10, maximum_age=20).strftime("%Y-%m-%d"),
            "gender": random.choice(['Male', 'Female']),
            "address": fake.address().replace('\n', ', '),
            "phone_number": fake.phone_number(),
            "email": fake.email(),
            "admission_date": fake.date_this_decade().strftime("%Y-%m-%d"),
            "class_id": random.choice(range(1, 3)),  # Assuming 2 classes
            "guardian_name": fake.name(),
            "guardian_phone_number": fake.phone_number(),
            "emergency_contact": fake.name(),
            "student_status": random.choice(['Active', 'Graduated', 'Transferred'])
        })
    return pd.DataFrame(students)

def create_staff(num_staff):
    staff = []
    for _ in range(num_staff):
        staff.append({
            "staff_id": _ + 1,
            "first_name": fake.first_name(),
            "last_name": fake.last_name(),
            "hire_date": fake.date_between(start_date='-10y', end_date='today').strftime("%Y-%m-%d"),
            "role": random.choice(['Teacher', 'Principal', 'Administrator']),
            "department_id": random.choice(range(1, 3)),  # Assuming 2 departments
            "salary": round(random.uniform(40000, 80000), 2),
            "email": fake.email(),
            "phone_number": fake.phone_number(),
            "address": fake.address().replace('\n', ', '),
            "status": random.choice(['Active', 'Retired', 'On Leave'])
        })
    return pd.DataFrame(staff)

def create_departments(num_departments):
    departments = []
    for _ in range(num_departments):
        departments.append({
            "department_id": _ + 1,
            "department_name": fake.catch_phrase(),
            "head_of_department_id": random.choice(range(1, 6)),  # Assuming 5 staff
            "budget": round(random.uniform(100000, 500000), 2)
        })
    return pd.DataFrame(departments)

def create_classes(num_classes):
    classes = []
    for _ in range(num_classes):
        classes.append({
            "class_id": _ + 1,
            "class_name": f"Class {chr(65 + _)}",  # Class A, B, C...
            "class_level": random.randint(10, 12),
            "homeroom_teacher_id": random.choice(range(1, 6))  # Assuming 5 staff
        })
    return pd.DataFrame(classes)

def create_subjects(num_subjects):
    subjects = []
    for _ in range(num_subjects):
        subjects.append({
            "subject_id": _ + 1,
            "subject_name": fake.word().capitalize(),
            "course_code": f"CODE{_ + 1:03}",
            "department_id": random.choice(range(1, 3))  # Assuming 2 departments
        })
    return pd.DataFrame(subjects)

def create_exams(num_exams):
    exams = []
    for _ in range(num_exams):
        exams.append({
            "exam_id": _ + 1,
            "exam_name": f"Exam {_ + 1}",
            "subject_id": random.choice(range(1, 6)),  # Assuming 5 subjects
            "exam_date": fake.date_this_year().strftime("%Y-%m-%d"),
            "total_marks": 100,
            "passing_marks": random.randint(30, 60),
            "exam_type": random.choice(['Final', 'Midterm', 'Quiz'])
        })
    return pd.DataFrame(exams)

def create_exam_results(num_results):
    results = []
    for _ in range(num_results):
        results.append({
            "result_id": _ + 1,
            "student_id": random.choice(range(1, 11)),  # Assuming 10 students
            "exam_id": random.choice(range(1, 6)),  # Assuming 5 exams
            "marks_obtained": random.randint(0, 100),
            "grade": random.choice(['A', 'B', 'C', 'D', 'F'])
        })
    return pd.DataFrame(results)

def create_courses(num_courses):
    courses = []
    for _ in range(num_courses):
        courses.append({
            "course_id": _ + 1,
            "course_name": fake.catch_phrase(),
            "course_description": fake.text(max_nb_chars=200),
            "course_start_date": fake.date_this_decade().strftime("%Y-%m-%d"),
            "course_end_date": fake.date_this_decade().strftime("%Y-%m-%d"),
            "instructor_id": random.choice(range(1, 6)),  # Assuming 5 staff
            "class_id": random.choice(range(1, 3))  # Assuming 2 classes
        })
    return pd.DataFrame(courses)

def create_enrollments(num_enrollments):
    enrollments = []
    for _ in range(num_enrollments):
        enrollments.append({
            "enrollment_id": _ + 1,
            "student_id": random.choice(range(1, 11)),  # Assuming 10 students
            "course_id": random.choice(range(1, 6)),  # Assuming 5 courses
            "enrollment_date": fake.date_this_decade().strftime("%Y-%m-%d")
        })
    return pd.DataFrame(enrollments)

def create_classrooms(num_classrooms):
    classrooms = []
    for _ in range(num_classrooms):
        classrooms.append({
            "classroom_id": _ + 1,
            "room_number": str(100 + _),
            "building_name": fake.word().capitalize() + " Building",
            "capacity": random.randint(20, 40)
        })
    return pd.DataFrame(classrooms)

def create_timetable(num_entries):
    timetable = []
    for _ in range(num_entries):
        timetable.append({
            "timetable_id": _ + 1,
            "course_id": random.choice(range(1, 6)),  # Assuming 5 courses
            "classroom_id": random.choice(range(1, 6)),  # Assuming 5 classrooms
            "day_of_week": random.choice(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']),
            "start_time": fake.time(),
            "end_time": fake.time()
        })
    return pd.DataFrame(timetable)

def create_attendance(num_attendance_records):
    attendance = []
    for _ in range(num_attendance_records):
        attendance.append({
            "attendance_id": _ + 1,
            "student_id": random.choice(range(1, 11)),  # Assuming 10 students
            "course_id": random.choice(range(1, 6)),  # Assuming 5 courses
            "attendance_date": fake.date_this_year().strftime("%Y-%m-%d"),
            "status": random.choice(['Present', 'Absent', 'Late'])
        })
    return pd.DataFrame(attendance)

# Generate synthetic data
students_df = create_students(10)
staff_df = create_staff(5)
departments_df = create_departments(2)
classes_df = create_classes(2)
subjects_df = create_subjects(5)
exams_df = create_exams(5)
exam_results_df = create_exam_results(10)
courses_df = create_courses(5)
enrollments_df = create_enrollments(10)
classrooms_df = create_classrooms(5)
timetable_df = create_timetable(10)
attendance_df = create_attendance(20)

# Save to CSV files
students_df.to_csv('Students.csv', index=False)
staff_df.to_csv('Staff.csv', index=False)
departments_df.to_csv('Departments.csv', index=False)
classes_df.to_csv('Classes.csv', index=False)
subjects_df.to_csv('Subjects.csv', index=False)
exams_df.to_csv('Exams.csv', index=False)
exam_results_df.to_csv('ExamResults.csv', index=False)
courses_df.to_csv('Courses.csv', index=False)
enrollments_df.to_csv('Enrollments.csv', index=False)
classrooms_df.to_csv('Classrooms.csv', index=False)
timetable_df.to_csv('Timetable.csv', index=False)
attendance_df.to_csv('Attendance.csv', index=False)

print("Synthetic data generated and saved to CSV files.")

Synthetic data generated and saved to CSV files.