In [1]:
pip install faker pandas numpy

Collecting faker
  Using cached Faker-30.1.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: pandas in /workspace/.pyenv_mirror/user/current/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy in /workspace/.pyenv_mirror/user/current/lib/python3.12/site-packages (2.1.1)
Requirement already satisfied: python-dateutil>=2.4 in /home/gitpod/.pyenv/versions/3.12.6/lib/python3.12/site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: typing-extensions in /home/gitpod/.pyenv/versions/3.12.6/lib/python3.12/site-packages (from faker) (4.12.2)
Requirement already satisfied: pytz>=2020.1 in /workspace/.pyenv_mirror/user/current/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /workspace/.pyenv_mirror/user/current/lib/python3.12/site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.12.6/lib/python3.12/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Using cached Faker-30.1.0-py3-none-any.whl (1.8 MB)
Installing collected packages: faker
Successfully installed faker-30.1.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import random
import pandas as pd
from faker import Faker
import numpy as np

# Initialize Faker
fake = Faker()
Faker.seed(42)
np.random.seed(42)

# Parameters for the dataset
NUM_STUDENTS = 1000
NUM_SUBJECTS = 5

# Example subjects and extra-curricular activities
subjects = ['Mathematics', 'Science', 'English', 'Social Studies', 'Physical Education']
activities = ['Football', 'Drama', 'Music', 'Art', 'Debate','Science','Chess','None']
nigeria_states = [
    "Abia", "Adamawa", "Akwa Ibom", "Anambra", "Bauchi", "Bayelsa", "Benue",
    "Borno", "Cross River", "Delta", "Ebonyi", "Edo", "Ekiti", "Enugu", "Gombe",
    "Imo", "Jigawa", "Kaduna", "Kano", "Katsina", "Kebbi", "Kogi", "Kwara",
    "Lagos", "Nasarawa", "Niger", "Ogun", "Ondo", "Osun", "Oyo", "Plateau",
    "Rivers", "Sokoto", "Taraba", "Yobe", "Zamfara", "FCT"
]

# Helper functions
def generate_student_bio_data():
    return {
        'Student ID': fake.unique.uuid4(),
        'First Name': fake.first_name(),
        'Last Name': fake.last_name(),
        'Gender': random.choice(['Male', 'Female']),
        'Age': random.randint(5, 18),
        'State': random.choice(nigeria_states),
        'City': fake.city(),
        'School': fake.company_suffix(),
        'Enrollment Date': fake.date_this_decade(),
        'Grade Level': random.randint(1, 12)
    }

def generate_parents_demographic_data():
    return {
        'Parent Name': fake.name(),
        'Parent Occupation': fake.job(),
        'Household Income (NGN)': random.randint(100000, 20000000),
        'Parent Education Level': random.choice(['Primary', 'Secondary', 'Tertiary', 'None']),
        'Household Size': random.randint(3, 10)
    }

def generate_resource_allocation_data():
    return {
        'Library Hours per Week': random.randint(2, 10),
        'Teacher-Student Ratio': round(random.uniform(1/30, 1/10), 2),  # Teacher per student ratio
        'Allocated Teacher Hours': random.randint(15, 40)
    }

def generate_extra_curricular_data():
    return {
        'Extra-Curricular Activity': random.choice(activities),
        'Weekly Hours in Activity': random.randint(1, 5)
    }

def generate_historical_performance_data():
    return {
        subject: round(random.uniform(40, 100), 0) for subject in subjects
    }

# Generate the dataset
data = []
for _ in range(NUM_STUDENTS):
    student_data = generate_student_bio_data()
    parent_data = generate_parents_demographic_data()
    resource_data = generate_resource_allocation_data()
    extra_curricular_data = generate_extra_curricular_data()
    performance_data = generate_historical_performance_data()
    
    # Combine all the generated data into a single record
    combined_data = {**student_data, **parent_data, **resource_data, **extra_curricular_data, **performance_data}
    
    data.append(combined_data)

# Create a DataFrame from the generated data
df = pd.DataFrame(data)

# Display the first few rows of the dataset
df.to_csv('fake.csv')

In [3]:
pip install faker

Collecting faker
  Using cached Faker-30.1.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in /home/gitpod/.pyenv/versions/3.12.6/lib/python3.12/site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: typing-extensions in /home/gitpod/.pyenv/versions/3.12.6/lib/python3.12/site-packages (from faker) (4.12.2)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.12.6/lib/python3.12/site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Using cached Faker-30.1.0-py3-none-any.whl (1.8 MB)
Installing collected packages: faker
Successfully installed faker-30.1.0
Note: you may need to restart the kernel to use updated packages.

# MACH 2 of our Synthetic data with data model

In [4]:
import random
import pandas as pd
from faker import Faker

# Initialize Faker
fake = Faker()

# Define regions, school types, parents' education, and extracurricular activities
regions = ['North Central', 'North East', 'North West', 'South East', 'South South', 'South West']
school_types = ['Public', 'Private']
education_levels = ['None', 'Primary', 'Secondary', 'Tertiary']
occupations = ['Farmer', 'Trader', 'Teacher', 'Civil Servant', 'Engineer', 'Unemployed']
extracurricular_activities = ['Sports', 'Music', 'Drama', 'Debate', 'Chess']
subjects = ['Mathematics', 'Science', 'English', 'Social Studies', 'Physical Education']

# Number of students to generate
NUM_STUDENTS = 1000

# Generate synthetic student data
def generate_student_data(num_students):
    data = []
    
    for _ in range(num_students):
        # Generate student bio-data
        student_id = fake.unique.uuid4()
        name = fake.name()
        gender = random.choice(['Male', 'Female'])
        age = random.randint(15, 19)  # Typical age for secondary school students
        region = random.choice(regions)
        school_type = random.choice(school_types)
        
        # Generate parents' demographic data
        father_education = random.choice(education_levels)
        mother_education = random.choice(education_levels)
        father_occupation = random.choice(occupations)
        mother_occupation = random.choice(occupations)
        household_income = random.randint(20000, 500000)  # Household income in Naira
        household_size = random.randint(3, 10)  # Number of people in household
        
        # Generate resource allocation (library and teacher hours)
        library_hours_per_week = random.randint(1, 10)  # Hours student spends in the library per week
        teacher_hours_per_week = random.randint(5, 30)  # Hours teacher spends with student per week
        
        # Generate extracurricular activity
        extracurricular = random.choice(extracurricular_activities)
        weekly_hours_in_activity = random.randint(0, 10) if extracurricular != 'None' else 0  # Hours spent on extracurricular activities
        
        # Generate historical performance (subject scores)
        subject_scores = {subject: random.randint(40, 100) for subject in subjects}  # Scores between 40-100
        
        # Append all data
        data.append({
            'Student ID': student_id,
            'Name': name,
            'Gender': gender,
            'Age': age,
            'Region': region,
            'School Type': school_type,
            'Father Education': father_education,
            'Mother Education': mother_education,
            'Father Occupation': father_occupation,
            'Mother Occupation': mother_occupation,
            'Household Income': household_income,
            'Household Size': household_size,
            'Library Hours/Week': library_hours_per_week,
            'Teacher Hours/Week': teacher_hours_per_week,
            'Extracurricular Activity': extracurricular,
            'Weekly Hours in Activity': weekly_hours_in_activity,
            'Mathematics': subject_scores['Mathematics'],
            'Science': subject_scores['Science'],
            'English': subject_scores['English'],
            'Social Studies': subject_scores['Social Studies'],
            'Physical Education': subject_scores['Physical Education']
        })
    
    return pd.DataFrame(data)

# Generate synthetic student data
synthetic_student_data = generate_student_data(NUM_STUDENTS)

# Display the first few rows of the generated data
synthetic_student_data.head()

,Student ID,Name,Gender,Age,Region,School Type,Father Education,Mother Education,Father Occupation,Mother Occupation,...,Household Size,Library Hours/Week,Teacher Hours/Week,Extracurricular Activity,Weekly Hours in Activity,Mathematics,Science,English,Social Studies,Physical Education
0,22529d69-61a7-405b-b879-e441ed50187c,Dawn Ramsey,Female,16,North West,Private,Tertiary,None,Unemployed,Unemployed,...,6,10,29,None,0,86,73,43,95,63
1,6d05bad9-cf41-4a57-9240-b4b0a45c20d3,Michael Reese,Female,16,South East,Public,Tertiary,None,Engineer,Engineer,...,10,3,28,Drama,9,63,74,91,53,46
2,72e242ea-8a63-4002-8e05-33119b8a2ed2,Jennifer Adams DDS,Male,15,South South,Private,Secondary,Secondary,Engineer,Teacher,...,6,10,25,None,0,83,62,63,52,76
3,1b19cec9-54fa-41f5-bb85-65619d1b3fd3,Robert Porter,Male,17,North Central,Private,Primary,None,Trader,Engineer,...,5,2,10,Drama,4,49,77,43,70,93
4,0a1b4c97-f965-44f4-8029-84e9278f08f8,Thomas Fernandez,Male,17,South West,Public,None,None,Civil Servant,Unemployed,...,7,5,5,None,0,47,66,81,90,100

In [ ]:

%sql
-- Create dim_student table
CREATE TABLE dim_student (
    Student_ID VARCHAR PRIMARY KEY,
    Name VARCHAR,
    Gender VARCHAR,
    Age INT,
    Region VARCHAR,
    School_Type VARCHAR
);

-- Create dim_parent_demographics table
CREATE TABLE dim_parent_demographics (
    Student_ID VARCHAR PRIMARY KEY,
    Father_Education VARCHAR,
    Mother_Education VARCHAR,
    Father_Occupation VARCHAR,
    Mother_Occupation VARCHAR,
    Household_Income INT,
    Household_Size INT,
    FOREIGN KEY (Student_ID) REFERENCES dim_student(Student_ID)
);

-- Create dim_extracurricular_activity table
CREATE TABLE dim_extracurricular_activity (
    Student_ID VARCHAR PRIMARY KEY,
    Extracurricular_Activity VARCHAR,
    FOREIGN KEY (Student_ID) REFERENCES dim_student(Student_ID)
);

-- Create fact_student_performance table
CREATE TABLE fact_student_performance (
    Student_ID VARCHAR,
    Math_Score INT,
    Science_Score INT,
    English_Score INT,
    Social_Studies_Score INT,
    Physical_Education_Score INT,
    Library_Hours_Week INT,
    Teacher_Hours_Week INT,
    Weekly_Activity_Hours INT,
    FOREIGN KEY (Student_ID) REFERENCES dim_student(Student_ID)
);

# MACH 3 of our Synthetic data with data model

In [70]:
import random
import pandas as pd
from faker import Faker
import numpy as np
from datetime import datetime, timedelta

# Initialize Faker
fake = Faker()
Faker.seed(42)
np.random.seed(42)

# Define constants
regions = ['North Central', 'North East', 'North West', 'South East', 'South South', 'South West']
nigeria_states = [
    "Abia", "Adamawa", "Akwa Ibom", "Anambra", "Bauchi", "Bayelsa", "Benue",
    "Borno", "Cross River", "Delta", "Ebonyi", "Edo", "Ekiti", "Enugu", "Gombe",
    "Imo", "Jigawa", "Kaduna", "Kano", "Katsina", "Kebbi", "Kogi", "Kwara",
    "Lagos", "Nasarawa", "Niger", "Ogun", "Ondo", "Osun", "Oyo", "Plateau",
    "Rivers", "Sokoto", "Taraba", "Yobe", "Zamfara", "FCT"
]

# Define staff positions with number of positions and pay grade
staff_positions = {
    "Teacher": {"count": len(subjects), "pay_grade": (3, 6)},
    "Principal": {"count": 1, "pay_grade": (7, 8)},
    "Vice Principal": {"count": 2, "pay_grade": (6, 7)},
    "Counselor": {"count": 2, "pay_grade": (4, 6)},
    "Librarian": {"count": 2, "pay_grade": (3, 5)},
    "School Nurse": {"count": 2, "pay_grade": (4, 6)},
    "Administrative Assistant": {"count": 5, "pay_grade": (2, 4)},
    "Janitor": {"count": 3, "pay_grade": (1, 3)},
    "Cafeteria Worker": {"count": 5, "pay_grade": (1, 3)},
    "Bus Driver": {"count": 5, "pay_grade": (2, 4)},
    "IT Technician": {"count": 3, "pay_grade": (3, 5)},
    "Security Guard": {"count": 4, "pay_grade": (2, 4)}
}


education_levels = ['None', 'Primary', 'Secondary', 'Tertiary']
occupations = ['Farmer', 'Trader', 'Teacher', 'Civil Servant', 'Engineer', 'Unemployed', 'Doctor', 'Nurse']
extracurricular_activities = ['Sports', 'Music', 'Drama', 'Debate Club', 'Art', 'None']
common_subjects = ['Mathematics', 'English Language', 'Civic Education', 'Economics', 'CRS/Islam']
science_subjects = ['Physics', 'Chemistry', 'Biology', 'Geography', 'Computer Science']
art_subjects = ['Government', 'Commerce', 'Literature', 'Social Studies', 'Accounting']
subjects = common_subjects + science_subjects + art_subjects
health_condition = ['Asthma'] * 3 + ['Sickle Cell'] * 2 + ['Ulcer'] * 3 + ['Epilepsy']*1 + ['Dyslexia']*20 + ['None']*91
teacher_type =  ['Corper','Regular']
weights = [0.2, 0.8]  

def random_dobs(min_age, max_age):
    now = datetime.now()
    return (now - timedelta(days=random.randint(min_age*365, max_age*365))).strftime("%Y-%m-%d")


def assign_scores(subjects):
    return {subject: random.randint(0, 100) for subject in subjects}



def generate_dim_class():
    data = []
        
    # Class levels and segments
    levels = ['SS1', 'SS2', 'SS3']
    segments = ['A', 'B', 'C', 'D', 'E', 'F']
    for level in levels:
        for segment in segments:
            class_name = f"{level} Class {segment}"
            num_students = random.randint(50, 60)  # Number of students per class
            
            data.append({
                'Class_Name': class_name,
                'Number_of_Students': num_students
            })
    
    return pd.DataFrame(data)

dim_class = generate_dim_class()

# Number of records
NUM_STUDENTS = sum(dim_class.Number_of_Students)




# Generate staff data
def generate_staff_data():
    data = []
    for position, details in staff_positions.items():
        for _ in range(details["count"]):
            staff_member = {
                'Staff_ID': fake.unique.uuid4(),
                "Name": fake.name(),
                "Position": position,
                "Pay Grade": random.randint(details["pay_grade"][0], details["pay_grade"][1]),
                "Years of Experience": random.randint(0, 30),
                "Education Level": fake.random_element(elements=("High School", "Associate's", "Bachelor's", "Master's", "PhD")),
                "Date of Hire": fake.date_between(start_date="-30y", end_date="today"),
                "Full-time": fake.boolean(chance_of_getting_true=80)
            }
            data.append(staff_member)
    return data

# Generate staff data and create DataFrame
staff_data = generate_staff_data()
staff_table = pd.DataFrame(staff_data)

# Generate Dim Teacher
def generate_teacher_table():
    teachers_table = staff_table[staff_table['Position'] == 'Teacher'][['Staff_ID', 'Name']].copy()
    teachers_table['Teacher_ID'] = [fake.unique.uuid4() for i in range(len(teachers_table))]
    teachers_table['Teacher Type'] = random.choices(teacher_type, weights=weights, k=len(teachers_table))
    teachers_table['Subject specialization'] = subjects
    teachers_table = teachers_table[['Teacher_ID', 'Staff_ID', 'Name', 'Teacher Type', 'Subject specialization']]
    return teachers_table

teachers_table = generate_teacher_table()




# # Generate Dim Event
# def generate_dim_event(num_events, dim_class):
#     data = []
#     for _ in range(num_events):
#         event_id = fake.unique.uuid4()
#         event_name = random.choice(['Sports Day', 'Annual Meeting', 'Science Fair', 'Art Exhibition', 'Debate Competition'])
#         event_type = random.choice(['Academic', 'Sports', 'Cultural'])
#         date = fake.date_between(start_date='-3y', end_date='today')
#         class_id = random.choice(dim_class['Class_Name'].tolist())
#         data.append({
#             'Event_ID': event_id,
#             'Event_Name': event_name,
#             'Event_Type': event_type,
#             'Date': date,
#             'class_ID': class_id
#         })
#     return pd.DataFrame(data)

# dim_event = generate_dim_event(NUM_EVENTS, dim_class)

# Generate Dim Student
def generate_dim_student(num_students, dim_class):
    data = []
    for _ in range(num_students):
        student_id = fake.unique.uuid4()
        name = fake.name()
        gender = random.choice(['Male', 'Female'])
        DOB = random_dobs(14, 18) 
        region = random.choice(regions)
        class_id = random.choice(dim_class['Class_Name'].tolist())
        data.append({
            'Student_ID': student_id,
            'Class_ID': class_id,
            'Name': name,
            'Gender': gender,
            'Date_of_Birth': DOB,
            'Region of birth': region,
            'Current state of residence': random.choice(nigeria_states),
            'engagement_in_class': random.choice(['Troublesome','Unactive','Slightly active','Active','Highly active']),
            'health_condition': random.choice(health_condition),
            'Class Spec': random.choice(['Art','Science'])
        })
    return pd.DataFrame(data)

dim_student = generate_dim_student(NUM_STUDENTS, dim_class)

# Generate Dim Parent Demographics
def generate_dim_parent_demographics(dim_student):
    data = []
    for _, student in dim_student.iterrows():
        father_education = random.choice(education_levels)
        mother_education = random.choice(education_levels)
        father_occupation = random.choice(occupations)
        mother_occupation = random.choice(occupations)
        data.append({
            'Student_ID': student['Student_ID'],
            'Father_Education': father_education,
            'Mother_Education': mother_education,
            'Father_Occupation': father_occupation,
            'Mother_Occupation': mother_occupation,
            'Annual_Household_Income(NGN)': random.choice(['Below 200,000', '200,000-400,000', '400,000-600,000', 'Above 600,000']),
            'Household_Size': random.choice(np.arange(2, 7)),
            'Involvement_in_Kids_Education': random.choice(['Always busy', 'Slightly involved', 'Involved', 'Very Involved'])
        })
    return pd.DataFrame(data)

dim_parent_demographics = generate_dim_parent_demographics(dim_student)

# Generate Dim Extracurricular Activity
def generate_dim_extracurricular_activity(dim_student):
    data = []
    for _, student in dim_student.iterrows():
        extracurricular = random.choice(extracurricular_activities)
        weekly_hours_in_activity = random.randint(0, 10) if extracurricular != 'None' else 0
        data.append({
            'Student_ID': student['Student_ID'],
            'Extracurricular_Activity': extracurricular,
            'Weekly_Hours': weekly_hours_in_activity
        })
    return pd.DataFrame(data)

dim_extracurricular_activity = generate_dim_extracurricular_activity(dim_student)


# Generate Fact School Operations
def generate_fact_school_operations(dim_class):
    data = []
    for _, row in dim_class.iterrows():# Iterate over the rows properly
        # Each class can have operational records
        budget = random.randint(500000, 5000000)  # Annual budget in Naira
        spending_on_library = random.randint(100000, 1000000)
        spending_on_teachers = random.randint(200000, 2000000)
        number_of_classrooms = len(dim_class)  # Use the total number of classrooms
        library_books = random.randint(500, 10000)
        health_staff = random.randint(1, 10)

        # Append the data for each class
        data.append({
            'Class_ID': row['Class_Name'],  # Correctly assign the class name
            'Budget': budget,
            'Spending_On_Library': spending_on_library,
            'Spending_On_Teachers': spending_on_teachers,
            'Number_of_Classrooms': number_of_classrooms,
            'Library_Books': library_books,
            'Health_Staff': health_staff
        })
    
    return pd.DataFrame(data)

fact_school_operations = generate_fact_school_operations(dim_class)



def generate_fact_attendance(dim_student): 
    data = []
    
    # Randomly select a subset of students to miss school (between 10 and 50 students)
    students_missing_school = random.sample(dim_student.index.tolist(), random.randint(10, 50))
    
    for idx, student in dim_student.iterrows():
        if idx in students_missing_school:
            # Students who miss school
            days_attended = random.randint(80, 94)  # Randomly decide attended days between 10 and 29
            days_missed = 95 - days_attended
            absence_reason = random.choice(['Illness', 'Family Event', 'Other','Truancy'])
        else:
            # Students who don't miss school
            days_attended = 95
            days_missed = 0
            absence_reason = 'Full Attendance'
        
        data.append({
            'Student_ID': student['Student_ID'],
            'Days_Attended': days_attended,
            'Days_Missed': days_missed,
            'Absence_Reason': absence_reason
        })
        
    return pd.DataFrame(data)


# Generate attendance fact data
fact_attendance = generate_fact_attendance(dim_student)



def generate_student_performance(dim_student):
    dim_student_copy = dim_student[['Student_ID', 'Class Spec']].copy()  # Copy to avoid altering original DataFrame
    data = []
    
    # Iterate over each row in the DataFrame
    for _, row in dim_student_copy.iterrows():
        student_id = row['Student_ID']
        class_spec = row['Class Spec']
        
        # Common subjects (shared between both Art and Science students)
        performance = assign_scores(common_subjects)
        
        # Additional subjects depending on the stream
        if class_spec == 'Science':
            performance.update(assign_scores(science_subjects))
            # Art subjects will have None for Science students
            performance.update({subject: None for subject in art_subjects})
        else:
            performance.update(assign_scores(art_subjects))
            # Science subjects will have None for Art students
            performance.update({subject: None for subject in science_subjects})
        
        # JAMB Mock Scores and Credit Passes in WAEC
        jamb_mock_scores = random.randint(100, 400)
        num_credit_passes_waec = random.randint(2, 9)
        
        # Append student data to list
        data.append({
            'Student_ID': student_id,
            **performance,
            'Jamb_Mock_Scores': jamb_mock_scores,
            'Num_Credit_Passes_WAEC': num_credit_passes_waec
        })
    
    return pd.DataFrame(data)


# Generate student performance data
student_performance = generate_student_performance(dim_student)



# def art_science_grades():
#         # Example: Predefined high school art and science courses
#     art_courses = ['Government', 'Literature', 'Economics', 'CRK/Islam']
#     science_courses = ['Biology', 'Physics', 'Chemistry', 'Intro. Tech']

#     # Function to calculate rank based on score
#     def calculate_rank(score):
#         if score >= 70:
#             return 'A'
#         elif score >= 60:
#             return 'B'
#         elif score >= 50:
#             return 'C'
#         elif score >= 40:
#             return 'D'
#         else:
#             return 'F'

#     # Example DataFrame: dim_student with a 'student_id' and 'Class Spec' column
#     dim_student_copy = dim_student[['Student_ID','Class Spec']]

#     # Create art_discipline and science_discipline DataFrames based on the 'Class Spec' column
#     art_discipline = dim_student_copy[dim_student_copy['Class Spec'] == 'Art'].copy()
#     science_discipline = dim_student_copy[dim_student_copy['Class Spec'] == 'Science'].copy()

#     # Assign scores for art and science students
#     for course in art_courses:
#         art_discipline[course] = art_discipline.apply(lambda x: random.randint(50, 100), axis=1)

#     for course in science_courses:
#         science_discipline[course] = science_discipline.apply(lambda x: random.randint(50, 100), axis=1)

#     # Calculate average score for each student in art_discipline and science_discipline
#     art_discipline['Average_Score'] = art_discipline[art_courses].mean(axis=1)
#     science_discipline['Average_Score'] = science_discipline[science_courses].mean(axis=1)

#     # Calculate ranks based on the average score
#     art_discipline['Grade'] = art_discipline['Average_Score'].apply(calculate_rank)
#     science_discipline['Grade'] = science_discipline['Average_Score'].apply(calculate_rank)

    
#     art_discipline = art_discipline[['Student_ID'] + art_courses + ['Average_Score', 'Grade']]

    
#     science_discipline = science_discipline[['Student_ID'] + science_courses + ['Average_Score', 'Grade']]

#     return art_discipline, science_discipline

# art_scores_2021 ,science_scores_2021 = art_science_grades()
# art_scores_2022  ,science_scores_2022  = art_science_grades()
# art_scores_2023  ,science_scores_2023  = art_science_grades()



# Save all tables to CSV files
dim_class.to_csv('./data/dim_class.csv', index=False)
dim_teacher.to_csv('./data/dim_teacher.csv', index=False)
# dim_event.to_csv('./data/dim_event.csv', index=False)
dim_student.to_csv('./data/dim_student.csv', index=False)
dim_parent_demographics.to_csv('./data/dim_parent_demographics.csv', index=False)
dim_extracurricular_activity.to_csv('./data/dim_extracurricular_activity.csv', index=False)
staff_table.to_csv('./data/staff_table.csv', index=False)
teachers_table.to_csv('./data/teachers_table.csv', index=False)
fact_school_operations.to_csv('./data/fact_school_operations.csv', index=False)
student_performance.to_csv('./data/student_performance.csv', index=False)
fact_attendance.to_csv('./data/fact_attendance.csv', index=False)
# art_scores_2021.to_csv('./data/art_students_performance__2021.csv', index=False)
# science_scores_2021.to_csv('./data/science_students_perfromance_2021.csv', index=False)
# art_scores_2022.to_csv('./data/art_students_performance__2022.csv', index=False)
# science_scores_2023.to_csv('./data/science_students_perfromance_2023.csv', index=False)

In [69]:


# Generate staff data
def generate_staff_data():
    data = []
    for position, details in staff_positions.items():
        for _ in range(details["count"]):
            staff_member = {
                'Staff_ID': fake.unique.uuid4(),
                "Name": fake.name(),
                "Position": position,
                "Pay Grade": random.randint(details["pay_grade"][0], details["pay_grade"][1]),
                "Years of Experience": random.randint(0, 30),
                "Education Level": fake.random_element(elements=("High School", "Associate's", "Bachelor's", "Master's", "PhD")),
                "Date of Hire": fake.date_between(start_date="-30y", end_date="today"),
                "Full-time": fake.boolean(chance_of_getting_true=80)
            }
            data.append(staff_member)
    return data

# Generate staff data and create DataFrame
staff_data = generate_staff_data()
staff_table = pd.DataFrame(staff_data)

# Generate Dim Teacher
def generate_teacher_table():
    teachers_table = staff_table[staff_table['Position'] == 'Teacher'][['Staff_ID', 'Name']].copy()
    teachers_table['Teacher_ID'] = [fake.unique.uuid4() for i in range(len(teachers_table))]
    teachers_table['Teacher Type'] = random.choices(teacher_type, weights=weights, k=len(teachers_table))
    teachers_table['Subject specialization'] = subjects
    teachers_table = teachers_table[['Teacher_ID', 'Staff_ID', 'Name', 'Teacher Type', 'Subject specialization']]
    return teachers_table

teachers_table = generate_teacher_table()

teachers_table

,Teacher_ID,Staff_ID,Name,Teacher Type,Subject specialization
0,f1773294-a4d2-4eae-8d0d-4d73ca1c3218,ac5dd02d-ccc6-4ffd-9e3e-ce609ef6a99f,Rhonda Everett,Regular,Mathematics
1,aaab5830-79cf-404f-9b29-317a6675d5e2,e5dfc7af-6403-44bc-9486-0c2d1659ddcc,Tyler Jones,Regular,English Language
2,fcce5213-6789-4d92-b33c-4c369a690cad,dfff8cea-2687-4a98-bf0f-666225e050f6,Tristan Johnson,Regular,Civic Education
3,25ba4f03-4765-4069-82ec-0fc37c0a5867,58c158e2-7951-452b-a1cc-8ba7ee854c72,Oscar Smith,Regular,Economics
4,1f47d902-1ba8-4a91-b462-f144c49b9e62,a50939f1-8505-491d-b28b-ffb9d5bf1edb,Kenneth Rios,Regular,CRS/Islam
5,3b172319-7f4d-45b9-bd45-7a09402d35e8,8c68720e-d787-463d-87b8-f95cb265a6c2,Eric Anderson,Regular,Physics
6,079bf5e6-2275-41e2-b141-52c7a0dcec7d,f8815f18-5f34-4d6c-bbf7-5b573a0e618f,Ryan Hernandez,Regular,Chemistry
7,d48f5ba3-0d87-4c72-bce0-5a63197f9b8d,b639529e-2929-4691-ac93-e43d9e5e8cfe,Catherine Thompson,Regular,Biology
8,06d903c0-ad98-4301-bf85-c4e711776f21,931414e8-510e-441f-be67-e8e90a88e6ca,David Lopez,Corper,Geography
9,9ac60306-61f4-4c2b-add9-3719f8d9bf33,25dfac07-5806-4bae-ba5f-afdb512339fa,Joshua Martin,Corper,Computer Science
10,4d8131f5-2719-4fdb-93b3-618bade05648,c4bd9b59-7fd9-496f-ae5a-88566791659c,Jimmy Flores,Regular,Government
11,c29a988f-18a9-4210-9f8c-2c519f3936a5,a5b1c799-54ce-4ee7-81e5-8eeef9c0fd4d,Kara Roberts,Regular,Commerce
12,851b5f38-c069-4f1d-a93c-94131396a289,712dd406-ec1b-45dd-a829-56cfba81d860,Brian Mendoza,Regular,Literature
13,774d34f5-caf0-4226-be00-0029c47f9b05,66d137f6-0659-410a-8ede-79b61deb979d,Connie Howard,Regular,Social Studies
14,7f764fce-a97e-4131-8b26-f0a333b1cca4,38de6b6e-86c4-4e42-955b-c34631f55560,Pamela Gonzalez,Regular,Accounting

In [37]:
# Generate Dim Teacher
def generate_teacher_table():
    teachers_table = staff_table[staff_table['Position'] == 'Teacher'][['Staff_ID', 'Name']].copy()
    teachers_table['Teacher Type'] = [random.choice(['Regular', 'Corper']) for _ in range(len(teachers_table))]
    return teachers_table

dim_teacher = generate_teacher_table()

15

In [ ]:
CREATE TABLE Students (
    student_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    date_of_birth DATE,
    gender VARCHAR(10),
    address VARCHAR(255),
    phone_number VARCHAR(20),
    email VARCHAR(100),
    admission_date DATE,
    class_id INT,
    guardian_name VARCHAR(100),
    guardian_phone_number VARCHAR(20),
    emergency_contact VARCHAR(100),
    student_status VARCHAR(50), -- active, graduated, transferred
    FOREIGN KEY (class_id) REFERENCES Classes(class_id)
);

CREATE TABLE Staff (
    staff_id INT PRIMARY KEY,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    hire_date DATE,
    role VARCHAR(50), -- teacher, administrator, support staff, etc.
    department_id INT,
    salary DECIMAL(10, 2),
    email VARCHAR(100),
    phone_number VARCHAR(20),
    address VARCHAR(255),
    status VARCHAR(20), -- active, retired, on_leave
    FOREIGN KEY (department_id) REFERENCES Departments(department_id)
);

CREATE TABLE Departments (
    department_id INT PRIMARY KEY,
    department_name VARCHAR(100),
    head_of_department_id INT,
    budget DECIMAL(12, 2),
    FOREIGN KEY (head_of_department_id) REFERENCES Staff(staff_id)
);

CREATE TABLE Classes (
    class_id INT PRIMARY KEY,
    class_name VARCHAR(50),
    class_level INT,
    homeroom_teacher_id INT,
    FOREIGN KEY (homeroom_teacher_id) REFERENCES Staff(staff_id)
);


CREATE TABLE Subjects (
    subject_id INT PRIMARY KEY,
    subject_name VARCHAR(100),
    course_code VARCHAR(20),
    department_id INT,
    FOREIGN KEY (department_id) REFERENCES Departments(department_id)
);


CREATE TABLE Exams (
    exam_id INT PRIMARY KEY,
    exam_name VARCHAR(100),
    subject_id INT,
    exam_date DATE,
    total_marks DECIMAL(5, 2),
    passing_marks DECIMAL(5, 2),
    exam_type VARCHAR(50), -- final, midterm, quiz, etc.
    FOREIGN KEY (subject_id) REFERENCES Subjects(subject_id)
);


CREATE TABLE ExamResults (
    result_id INT PRIMARY KEY,
    student_id INT,
    exam_id INT,
    marks_obtained DECIMAL(5, 2),
    grade VARCHAR(10),
    FOREIGN KEY (student_id) REFERENCES Students(student_id),
    FOREIGN KEY (exam_id) REFERENCES Exams(exam_id)
);


CREATE TABLE Courses (
    course_id INT PRIMARY KEY,
    course_name VARCHAR(100),
    course_description TEXT,
    course_start_date DATE,
    course_end_date DATE,
    instructor_id INT,
    class_id INT,
    FOREIGN KEY (instructor_id) REFERENCES Staff(staff_id),
    FOREIGN KEY (class_id) REFERENCES Classes(class_id)
);


CREATE TABLE Enrollments (
    enrollment_id INT PRIMARY KEY,
    student_id INT,
    course_id INT,
    enrollment_date DATE,
    FOREIGN KEY (student_id) REFERENCES Students(student_id),
    FOREIGN KEY (course_id) REFERENCES Courses(course_id)
);


CREATE TABLE Classrooms (
    classroom_id INT PRIMARY KEY,
    room_number VARCHAR(20),
    building_name VARCHAR(100),
    capacity INT
);


CREATE TABLE Timetable (
    timetable_id INT PRIMARY KEY,
    course_id INT,
    classroom_id INT,
    day_of_week VARCHAR(20), -- e.g., Monday, Tuesday
    start_time TIME,
    end_time TIME,
    FOREIGN KEY (course_id) REFERENCES Courses(course_id),
    FOREIGN KEY (classroom_id) REFERENCES Classrooms(classroom_id)
);


CREATE TABLE Attendance (
    attendance_id INT PRIMARY KEY,
    student_id INT,
    course_id INT,
    attendance_date DATE,
    status VARCHAR(10), -- Present, Absent, Late
    FOREIGN KEY (student_id) REFERENCES Students(student_id),
    FOREIGN KEY (course_id) REFERENCES Courses(course_id)
);

In [3]:
import pandas as pd
from faker import Faker
import random
import numpy as np

# Initialize the Faker library
fake = Faker()

# Set a random seed for reproducibility
Faker.seed(0)
random.seed(0)

# Function to create synthetic data for each CSV
def create_students(num_students):
    students = []
    for _ in range(num_students):
        students.append({
            "student_id": _ + 1,
            "first_name": fake.first_name(),
            "last_name": fake.last_name(),
            "date_of_birth": fake.date_of_birth(minimum_age=10, maximum_age=20).strftime("%Y-%m-%d"),
            "gender": random.choice(['Male', 'Female']),
            "address": fake.address().replace('\n', ', '),
            "phone_number": fake.phone_number(),
            "email": fake.email(),
            "admission_date": fake.date_this_decade().strftime("%Y-%m-%d"),
            "class_id": random.choice(range(1, 3)),  # Assuming 2 classes
            "guardian_name": fake.name(),
            "guardian_phone_number": fake.phone_number(),
            "emergency_contact": fake.name(),
            "student_status": random.choice(['Active', 'Graduated', 'Transferred'])
        })
    return pd.DataFrame(students)

def create_staff(num_staff):
    staff = []
    for _ in range(num_staff):
        staff.append({
            "staff_id": _ + 1,
            "first_name": fake.first_name(),
            "last_name": fake.last_name(),
            "hire_date": fake.date_between(start_date='-10y', end_date='today').strftime("%Y-%m-%d"),
            "role": random.choice(['Teacher', 'Principal', 'Administrator']),
            "department_id": random.choice(range(1, 3)),  # Assuming 2 departments
            "salary": round(random.uniform(40000, 80000), 2),
            "email": fake.email(),
            "phone_number": fake.phone_number(),
            "address": fake.address().replace('\n', ', '),
            "status": random.choice(['Active', 'Retired', 'On Leave'])
        })
    return pd.DataFrame(staff)

def create_departments(num_departments):
    departments = []
    for _ in range(num_departments):
        departments.append({
            "department_id": _ + 1,
            "department_name": fake.catch_phrase(),
            "head_of_department_id": random.choice(range(1, 6)),  # Assuming 5 staff
            "budget": round(random.uniform(100000, 500000), 2)
        })
    return pd.DataFrame(departments)

def create_classes(num_classes):
    classes = []
    for _ in range(num_classes):
        classes.append({
            "class_id": _ + 1,
            "class_name": f"Class {chr(65 + _)}",  # Class A, B, C...
            "class_level": random.randint(10, 12),
            "homeroom_teacher_id": random.choice(range(1, 6))  # Assuming 5 staff
        })
    return pd.DataFrame(classes)

def create_subjects(num_subjects):
    subjects = []
    for _ in range(num_subjects):
        subjects.append({
            "subject_id": _ + 1,
            "subject_name": fake.word().capitalize(),
            "course_code": f"CODE{_ + 1:03}",
            "department_id": random.choice(range(1, 3))  # Assuming 2 departments
        })
    return pd.DataFrame(subjects)

def create_exams(num_exams):
    exams = []
    for _ in range(num_exams):
        exams.append({
            "exam_id": _ + 1,
            "exam_name": f"Exam {_ + 1}",
            "subject_id": random.choice(range(1, 6)),  # Assuming 5 subjects
            "exam_date": fake.date_this_year().strftime("%Y-%m-%d"),
            "total_marks": 100,
            "passing_marks": random.randint(30, 60),
            "exam_type": random.choice(['Final', 'Midterm', 'Quiz'])
        })
    return pd.DataFrame(exams)

def create_exam_results(num_results):
    results = []
    for _ in range(num_results):
        results.append({
            "result_id": _ + 1,
            "student_id": random.choice(range(1, 11)),  # Assuming 10 students
            "exam_id": random.choice(range(1, 6)),  # Assuming 5 exams
            "marks_obtained": random.randint(0, 100),
            "grade": random.choice(['A', 'B', 'C', 'D', 'F'])
        })
    return pd.DataFrame(results)

def create_courses(num_courses):
    courses = []
    for _ in range(num_courses):
        courses.append({
            "course_id": _ + 1,
            "course_name": fake.catch_phrase(),
            "course_description": fake.text(max_nb_chars=200),
            "course_start_date": fake.date_this_decade().strftime("%Y-%m-%d"),
            "course_end_date": fake.date_this_decade().strftime("%Y-%m-%d"),
            "instructor_id": random.choice(range(1, 6)),  # Assuming 5 staff
            "class_id": random.choice(range(1, 3))  # Assuming 2 classes
        })
    return pd.DataFrame(courses)

def create_enrollments(num_enrollments):
    enrollments = []
    for _ in range(num_enrollments):
        enrollments.append({
            "enrollment_id": _ + 1,
            "student_id": random.choice(range(1, 11)),  # Assuming 10 students
            "course_id": random.choice(range(1, 6)),  # Assuming 5 courses
            "enrollment_date": fake.date_this_decade().strftime("%Y-%m-%d")
        })
    return pd.DataFrame(enrollments)

def create_classrooms(num_classrooms):
    classrooms = []
    for _ in range(num_classrooms):
        classrooms.append({
            "classroom_id": _ + 1,
            "room_number": str(100 + _),
            "building_name": fake.word().capitalize() + " Building",
            "capacity": random.randint(20, 40)
        })
    return pd.DataFrame(classrooms)

def create_timetable(num_entries):
    timetable = []
    for _ in range(num_entries):
        timetable.append({
            "timetable_id": _ + 1,
            "course_id": random.choice(range(1, 6)),  # Assuming 5 courses
            "classroom_id": random.choice(range(1, 6)),  # Assuming 5 classrooms
            "day_of_week": random.choice(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']),
            "start_time": fake.time(),
            "end_time": fake.time()
        })
    return pd.DataFrame(timetable)

def create_attendance(num_attendance_records):
    attendance = []
    for _ in range(num_attendance_records):
        attendance.append({
            "attendance_id": _ + 1,
            "student_id": random.choice(range(1, 11)),  # Assuming 10 students
            "course_id": random.choice(range(1, 6)),  # Assuming 5 courses
            "attendance_date": fake.date_this_year().strftime("%Y-%m-%d"),
            "status": random.choice(['Present', 'Absent', 'Late'])
        })
    return pd.DataFrame(attendance)

# Generate synthetic data
students_df = create_students(10)
staff_df = create_staff(5)
departments_df = create_departments(2)
classes_df = create_classes(2)
subjects_df = create_subjects(5)
exams_df = create_exams(5)
exam_results_df = create_exam_results(10)
courses_df = create_courses(5)
enrollments_df = create_enrollments(10)
classrooms_df = create_classrooms(5)
timetable_df = create_timetable(10)
attendance_df = create_attendance(20)

# Save to CSV files
students_df.to_csv('Students.csv', index=False)
staff_df.to_csv('Staff.csv', index=False)
departments_df.to_csv('Departments.csv', index=False)
classes_df.to_csv('Classes.csv', index=False)
subjects_df.to_csv('Subjects.csv', index=False)
exams_df.to_csv('Exams.csv', index=False)
exam_results_df.to_csv('ExamResults.csv', index=False)
courses_df.to_csv('Courses.csv', index=False)
enrollments_df.to_csv('Enrollments.csv', index=False)
classrooms_df.to_csv('Classrooms.csv', index=False)
timetable_df.to_csv('Timetable.csv', index=False)
attendance_df.to_csv('Attendance.csv', index=False)

print("Synthetic data generated and saved to CSV files.")

Synthetic data generated and saved to CSV files.